VITE_AUTH_API_URL=http://localhost:4003
VITE_CUSTOMER_APP_URL=http://localhost:9001
VITE_RESTAURANT_APP_URL=http://localhost:9002
VITE_DELIVERY_APP_URL=http://localhost:9003
VITE_ADMIN_APP_URL=http://localhost:9004
